<div class="jumbotron">
  <h1 class="display-6">Hello, <strong><%= current_user.email %></strong></h1>
  <br />
  <p class="lead">Here is your API KEY for integration</p>
  <hr class="my-4">
  <h3>API KEY: <strong style="color: blue"><%= current_user.api_key %></strong></h3>
  <a href="/create_table" class="btn btn-success">Create Database</a>
</div>